{% extends 'profiles/base.html' %}


{% block content %}

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <p class="nav-link active pe-2" aria-current="page">You are here:</p>
        </li>
        <li class="nav-item">
          <a class="nav-link px-0" aria-current="page" href="{% url 'vocab:home' %}">Home</a>
        </li>
        <li class="nav-link px-0"> >> </li>
        <li class="nav-item">
          <a class="nav-link px-0" href="{% url 'vocab:stack_detail' stack.id %}">View Stack</a>
        </li>
        <li class="nav-link px-0" > >> </li>
        <li class="nav-item">
          <a class="nav-link active px-0" href="{% url 'vocab:edit_stack' stack.id %}">Edit Stack</a>
        </li>
      </ul>
     
  </div>
</nav>
<section class="container">
    <div class="container mt-5">
        <div class="row justify-content-center">
        
        </div>
         <h2>Edit Stack: {{ stack.name }}</h2>
    <!-- Stack Edit Form -->
    <form method="post" action="{% url 'vocab:edit_stack' stack.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Changes</button>
    </form>
    <br/>
    
    <!-- Add Existing Tag Form -->
    <h2>Add Existing Tag</h2>
    <form method="post" action="{% url 'vocab:edit_stack' stack.id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="existing_tag">Select Tag to Add:</label>
            <select name="existing_tag" id="existing_tag" class="form-control">
                {% for tag in unassigned_tags %}
                    <option value="{{ tag.id }}">{{ tag.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" name="add_existing_tag">Add Tag</button>
    </form>
    <br/>
    <!-- New Tag Form -->
    <h2>Add New Tag</h2>
    <form method="post" action="{% url 'vocab:edit_stack' stack.id %}">
        {% csrf_token %}
        {{ tag_form.as_p }}
        <button type="submit" name="new_tag">Add New Tag</button>
    </form>


    <br/>
    <!-- Display Assigned Tags -->
    <h2>Assigned Tags</h2>
    <ul>
        {% for stack_tag in assigned_tags %}
            <li>
                {{ stack_tag.tag.name }} 
                <form method="post" action="{% url 'vocab:remove_stack_tag' stack_tag.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Remove</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <!-- Display Messages -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
</section>
   
{% endblock %}
 