{% extends "./base.html" %} {% load static %} 

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/css/dummy.css' %}" />
{% endblock %}


{% block body %}

<div class="container">
<h1 class="title">Ups ...</h1>
<div class="picture">
    <img src="{% static 'pages/img/sad_snoopy.png' %}" fluid rounded />
</div>
<h2 class="text">Diese Seite befindet sich noch im Aufbau</h2>
  
    <div class="d-flex justify-content-center">
        <a href="{% url 'pages:index' %}" class=" m-1 btn btn-primary">Zur Startseite</a>
        {% comment %} <a href="#" class="m-1 btn btn-secondary">Zurück</a> {% endcomment %}
    </div>

</div>
{% endblock %}

